<div class="modal-container">
  <header>
    <h2>{{ title }}</h2>
    <button mat-icon-button aria-label="close" (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </header>

  <form [formGroup]="rfidManagementGroup" (ngSubmit)="submit()">
    <mat-form-field appearance="outline">
      <mat-label>Full name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email address</mat-label>
      <input matInput type="email" formControlName="email" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>RFID</mat-label>
      <input matInput type="number" formControlName="rfid" />
    </mat-form-field>

    @if(memberRFIDType === rfidType.New) {
    <mat-form-field appearance="outline">
      <mat-label>Subscription ID</mat-label>
      <input matInput formControlName="subscriptionID" />
    </mat-form-field>
    <p>
      This is an option if the new member's info hasn't been sent from paypal
      yet. Check the table before trying to add them manually.
      <strong>Note:</strong> if you add the member with this method, their
      <strong>email</strong> and <strong>full name</strong> have to match what
      they use in PayPal.
    </p>
    }

    <button
      type="submit"
      mat-raised-button
      [disabled]="!rfidManagementGroup.valid"
    >
      Submit
    </button>
  </form>
</div>
