<div class="modal-container">
  <header>
    <h2>{{ title }}</h2>
    <button mat-icon-button aria-label="close" (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </header>

  <form [formGroup]="rfidManagementGroup" (ngSubmit)="submit()">
    <mat-form-field appearance="outline">
      <mat-label>Full name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email address</mat-label>
      <input matInput type="email" formControlName="email" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>RFID</mat-label>
      <input matInput type="number" formControlName="rfid" />
    </mat-form-field>

    @if(memberRFIDType === rfidType.New) {
    <mat-form-field appearance="outline">
      <mat-label>Subscription ID</mat-label>
      <input matInput formControlName="subscriptionID" />
    </mat-form-field>
    }

    <button
      type="submit"
      mat-raised-button
      [disabled]="!rfidManagementGroup.valid"
    >
      Submit
    </button>
  </form>
</div>
