@import "colors";

button.mat-mdc-raised-button {
  background-color: var(--button-background-color) !important;
  color: $md-plain-white !important;
}

.search {
  .mdc-text-field--outlined:not(.mdc-text-field--disabled)
    .mdc-notched-outline__leading,
  .mdc-text-field--outlined:not(.mdc-text-field--disabled)
    .mdc-notched-outline__notch,
  .mdc-text-field--outlined:not(.mdc-text-field--disabled)
    .mdc-notched-outline__trailing {
    border-color: var(--text-color) !important;
  }
}
