@import "colors";

div {
  display: grid;
  place-items: center;

  h2 {
    font-size: 2em;
    margin: 2.5em 0px;
  }

  form {
    max-width: 360px;
    button,
    .mat-mdc-form-field {
      width: 100%;
    }

    button {
      margin-top: 40px;
    }

    mat-icon {
      cursor: pointer;
    }
  }

  p {
    margin-top: 2em;
    color: $md-primary;

    a {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
