<div>
  @if (showLoginForm) {
  <h2>Login</h2>
  <form [formGroup]="loginFormGroup" (ngSubmit)="login()">
    <mat-form-field appearance="outline">
      <mat-label>Email address</mat-label>
      <input matInput type="email" formControlName="email" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        formControlName="password"
      />
      <mat-icon matSuffix (click)="hide = !hide">{{
        hide ? "visibility_off" : "visibility"
      }}</mat-icon>
    </mat-form-field>

    @if(loginFormGroup.hasError('apiError')) {
    <mat-error>{{ loginFormGroup.getError("apiError") }}</mat-error>
    }

    <button type="submit" mat-raised-button [disabled]="!loginFormGroup.valid">
      Submit
    </button>
  </form>

  <p>Are you new? Register <a (click)="toggleForm()"> here </a></p>
  } @else {
  <h2>Register</h2>
  <form [formGroup]="registerFormGroup" (ngSubmit)="register()">
    <mat-form-field appearance="outline">
      <mat-label>Email address</mat-label>
      <input matInput type="email" formControlName="email" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Retype password</mat-label>
      <input matInput type="password" formControlName="retypePassword" />
    </mat-form-field>

    @if(registerFormGroup?.errors && registerFormGroup.errors['mismatch']) {
    <mat-error> Passwords must match </mat-error>
    }

    <button
      type="submit"
      mat-raised-button
      [disabled]="!registerFormGroup.valid"
    >
      Submit
    </button>
  </form>

  <p>Already a member? Rock on! Login <a (click)="toggleForm()"> here </a></p>
  }
</div>
