@import "colors";

div {
  display: grid;
  place-items: center;

  h2 {
    font-size: 2em;
    margin-top: 3em;
    margin-bottom: 2.5em;
  }

  form {
    max-width: 360px;

    button,
    .mat-mdc-form-field {
      width: 100%;
    }

    button {
      margin-top: 40px;
    }
  }

  p {
    margin-top: 2em;
    color: $md-primary;

    a {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
