$top-nav-height: 64px;
$nav-height: 48px;

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

main {
  overflow: auto;
  position: absolute;
  top: $top-nav-height + $nav-height;
  left: 0;
  right: 0;
  bottom: 0;

  max-width: 1200px;
  margin: 0 auto;
}
