action-bar {
  display: flex;
  justify-content: center;

  .mat-mdc-form-field {
    width: 100%;
  }

  [matInput],
  mat-label {
    color: var(--text-color);
  }

  ::ng-deep.mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}

.table-container {
  width: 100%;
  overflow-x: auto;

  mat-tab-group {
    margin-top: 32px;
  }

  table {
    .mat-column-actions {
      div {
        display: flex;
        justify-content: flex-end;
        mat-icon {
          color: var(--primary-color);
        }
      }
    }

    a {
      cursor: pointer;
      text-decoration: underline;
      color: var(--primary-color);
    }

    ul {
      padding-left: 16px;
    }
  }
}

.paginator {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: var(--text-color);
  padding: 12px 28px;

  span {
    margin-left: 12px;
  }
}
