<action-bar padding="12px 8px">
  <form [formGroup]="memberFormGroup" start>
    <mat-form-field appearance="outline" class="search">
      <mat-label>Search</mat-label>
      <input matInput formControlName="search" />
    </mat-form-field>
  </form>
  <button mat-raised-button end (click)="openAssignMemberRFIDManagement()">
    Create
  </button>
</action-bar>

<div class="table-container">
  <mat-tab-group
    mat-stretch-tabs="false"
    mat-align-tabs="start"
    (selectedIndexChange)="handleTabChange($event)"
  >
    <mat-tab label="Active"></mat-tab>
    <mat-tab label="Inactive"></mat-tab>
  </mat-tab-group>
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let member">
        <a (click)="openMemberManagement(member)">{{ member.name }}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let member">{{ member.email }}</td>
    </ng-container>

    <ng-container matColumnDef="rfid">
      <th mat-header-cell *matHeaderCellDef>RFID</th>
      <td mat-cell *matCellDef="let member">
        <a (click)="openAssignMemberRFIDManagement(member)">
          {{ member.rfid !== "notset" ? member.rfid : "Not set" }}
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let member">
        <a (click)="openMemberSubscriptionStatus(member)">
          {{ member.memberLevel | memberLevel }}
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="resources">
      <th mat-header-cell *matHeaderCellDef>Resources</th>
      <td mat-cell *matCellDef="let member">
        @if (member.resources?.length > 0) {
        <ul>
          @for (resource of member.resources; track $index) {
          <li>{{ resource.name }}</li>
          }
        </ul>
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let member">
        <div>
          <button mat-icon-button [matMenuTriggerFor]="actionMenu">
            <mat-icon> more_horiz</mat-icon>
          </button>
        </div>
        <mat-menu #actionMenu="matMenu">
          <button
            mat-menu-item
            (click)="openAssignMemberRFIDManagement(member)"
          >
            Assign RFID
          </button>
          <button mat-menu-item (click)="openMemberManagement(member)">
            Edit member
          </button>
          <button mat-menu-item (click)="openMemberResourceManagement(member)">
            Add resource
          </button>
          <button
            mat-menu-item
            (click)="openMemberResourceManagement(member, true)"
          >
            Remove resource
          </button>
          <button mat-menu-item (click)="pushToResources(member)">
            Push to resources
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
<mat-paginator
  showFirstLastButtons
  (page)="paginate($event)"
  [length]="pageInfo.length"
  [pageSize]="pageInfo.pageSize"
  [pageIndex]="pageInfo.pageIndex"
>
</mat-paginator>
