<div class="modal-container">
  <header>
    <h2>Edit Member</h2>
    <button mat-icon-button aria-label="close" (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </header>

  <form [formGroup]="memberManagementGroup" (ngSubmit)="submit()">
    <mat-form-field appearance="outline">
      <mat-label>Full name</mat-label>
      <input matInput formControlName="fullName" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Subscription ID</mat-label>
      <input matInput formControlName="subscriptionID" style="text-transform: uppercase" />
    </mat-form-field>

    <button type="submit" mat-raised-button [disabled]="!memberManagementGroup.valid">
      Update
    </button>
  </form>
</div>
