<html>
  <body>
    <div>
      Hello {{.Name}},<br />
      Your membership is revoked because membership dues are not up to date.  <br />
      Unfortunately, hackrva hasn't received your membership dues.  Your membership has been revoked until a payment is received.  Please reach out to us if you have any concerns.
  </body>
</html>
