<html>
  <body>
    <div>
      <p>
        This is an automated message.
      </p>
      <p>
        {{.Name}}'s membership is in a grace period. <br />
        If a payment isn't received, their membership will be revoked.
      </p>
    </div>
  </body>
</html>
