<html>
  <body>
    <div>
      <p>
        This is an automated message.
      </p>
      <p>
        If you have already contacted us please disregard this message. 
      </p>

      <h3>Member Dues/Grace Period</h3>
      <p>
        HackRVA has not received your monthly dues and your membership has entered a 15 day grace period after which it will be deactivated.
      </p>

      <p>
        If you believe this is an error and would like to keep your membership active please log into your PayPal account to update your payment method on file or reach out to us at 
        <a href="mailto:accounting@hackrva.org">accounting@hackrva.org</a> for assistance or more information. 
      </p>

      <h3>When your membership expires</h3>
      <ul>
        <li>Dispose of your parking pass.</li>
        <li>You're access fob will automatically disable.</li>
        <li>Personal items/materials left at HackRVA will be considered abandoned and subsequently disposed of.</li>
      </ul>
    </div>
  </body>
</html>
