<body>

<p>Welcome to HackRVA!</p>

<p>
Check out the <a href="https://docs.google.com/document/d/114RXi-QmGY9xcnHR4RAjVbPXWgotre8iOJuLpGTKIBo/edit?usp=sharing" target="_blank">New Member Manual</a>
</p>

<p>
Here's some basic good stuff to know -

<ul>
	<li>
		<p>
      Join our <a href="https://hackrva.slack.com/" target="_blank">Slack channel</a> when you receive the invitation.
		</p>
		<p>
			Slack is our primary avenue for real-time communication other than being at the space physically on our peak busy days, which are usually Thursdays(open house) and Saturdays(weekly hackathons).
		</p>
	</li>

	<li>
		<p>
			Join our Meetup.com group - <a href="http://www.meetup.com/HackRVA-Meetup/" target="_blank">HackRVA Meetup</a>
		</p>
		<p>
			All our public-facing events are scheduled there, including workshops and some of our fun events.
		</p>
	</li>

	<li>
		<p>
			Keep an eye on our <a href="http://www.hackrva.org/blog/?page_id=13" target="_blank">calendar</a>
		</p>
		<p>
			The calender is our most complete inventory of scheduled things. This includes internal things like board meetings, group builds, user groups, focus groups, and member only events. It also has the public-facing meetup events as well.
		</p>
	</li>

	<li>
		Check out the <a href="http://www.hackrva.org/wiki" target="_blank">wiki</a>.
		The wiki is the most comprehensive resource for how the space works overall, what our rules and policies are, our fiscal reporting, etc. Not everything about the space is in the wiki, but it's good primer and a lot of useful information can be found about a range of things. You're also encouraged to create a member page.

		The wiki is constantly under development and I would encourage you to participate!  Links to all these resources can be found on the sidebar of our main website, http://www.hackrva.org/
	</li>
</ul>
</p>

<p>
	We're thrilled to have you as a new member!
</p>
<p>
	If you ever haven any questions, you can reach our group of dedicated leadership volunteers at <a href="mailto:info@hackrva.org">info@hackrva.org</a>.
</p>

<p>
Happy Making!
</p>
</body>
